a:link,a:hover,a:visited,a:active{text-decoration: none;}

footer
{
    text-align: center;
    font-size: .75rem;
}  

img
{
    width: 150px;
    height: 200px;
    text-align: center;
}

body{font-family: Arial, Helvetica, sans-serif;}

/*id selector styles*/

/* #menuitem0
{
    font-size: 24px;
} */

#contacttable
{
    margin-left: auto; 
    margin-right: auto;
}

#selectMobileMenu
{
    border-radius: 4px; /*rounded corners*/
    border-color: rgb(206, 212, 218);
    height: 30px;
}

#hamburgerButton
{
    background-color: white;
    margin: 0px;
    width: 100%; /*button fits size of ul when ul is open*/
}

#hamburgerList
{
    list-style-type: none;
    padding: 0%;
    margin: 0px;
    background-color: white;
}

#divAboutDetails td
{
    border-style: solid;
    border-width: thin;
    width: auto;
}

/*class selector styles*/

.floatinglist 
{
    float: left;
    margin: 0 20px;
}

.errortext{color: red;}

.intro{text-align: center;}

.menu
{
    top: 0;
    background: white;
    width: 100%;
    border-style: outset;
}

.menuitem{font-size: 20px;}

.docked{position: fixed;}

.hidden{display: none;}

.allButFooter 
{
    /* min-height: calc(100vh - 40px); */
    min-height: calc(100vh - 95px);
}

.bi-linkedin{color: #0a66c2;}

.bi-github{color: purple;}

.hamburgerListItem
{
    text-align: center;
    border-bottom: 1px solid; 
}

.leftPad{padding-left: 5px;}

.body
{
    display: block;
    margin: 8px;
}